<div class="container">
  <div class="row">
    <h3 class="text-center my-3"><u><em>Get Your Exchange Rate</em></u></h3>
  </div>
  <div class="card my-2">
    <div class="card-header">
      <ul class="nav nav-pills justify-content-center">
        <app-selected-currency-info displayInfo="Indian National Rupee"></app-selected-currency-info>
        <app-selected-currency-info displayInfo="to"></app-selected-currency-info>
        <app-selected-currency-info displayInfo="United States Dollar"></app-selected-currency-info>
      </ul>
    </div>
  </div>
  <app-exchange-rate-form></app-exchange-rate-form>
</div>