.header-container {
  margin: 15px auto;
}

.header-container button {
  font-size: 22px;
  width: 15%;
  background-color: var(--primary);
  color: var(--grey);
}

.table-info-header {
  text-align: center;
  color: var(--primary);
  letter-spacing: 0.1rem;
  text-decoration: underline;
  width: 75%;
}

.card {
  border: 4px solid var(--primary);
  width: 90%;
  margin: 20px auto;
}

form .form-header-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 10px 20px 10px;
}

.table-search-bar {
  width: 40%;
}

form .buttons button {
  margin: 0 5px;
}

thead,
tbody {
  text-align: center;
}

table th {
  color: var(--primary);
}

.flag {
  margin: 0 5px;
  vertical-align: top;
}

.no-results {
  letter-spacing: 0.1rem;
  color: var(--primary);
}

.switch-icon img {
  cursor: pointer;
}

/** Media Queries **/
@media screen and (max-width: 1246px){

  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .header-container button {
    font-size: 20px;
    width: 30%;
  }
}

@media screen and (max-width: 954px) {
  .form-header-row {
    flex-direction: column;
    align-items: center;
  }

  .table-search-bar {
    width: 50%;
  }

  .flag {
    display: none;
  }
}

@media screen and (min-width: 954px) {
  .flag {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .table-info-header em {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .table-info-header em {
    font-size: 18px;
  }

  .form-header-row label {
    text-align: center;
  }

  .table-search-bar {
    width: 80%;
  }

  table th,
  tbody {
    font-size: 14px;
  }

  .header-container button {
    font-size: 18px;
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  table th,
  tbody {
    font-size: 12px;
  }

  .switch-icon img {
    width: 20px;
  }
}
