<div class="card">
  <div class="card-body">
    <form>
      <div class="form-header-row row col-xs-12">
        <label for="table-search" class="col-xs-3 col-sm-auto col-form-label">By Country:
        </label>
        <div class="col-xs-3 col-sm-auto">
          <input type="text" id="table-search" class="form-control">
        </div>
        <div class="col-xs-6 col-sm-auto buttons">
          <button class="btn btn-primary">Filter</button>
          <button class="btn btn-secondary">Reset</button>
        </div>
      </div>
    </form>
    <table class="table table-striped table-responsive">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Currency Pair</th>
        <th scope="col">Full Form</th>
        <th scope="col">Live Exchange Rate</th>
        <th scope="col">Switch Pair</th>
      </thead>
      <tbody>
        <tr *ngFor="let exchange of mostTradedExchanges; let ind = index">
          <th scope="row">{{ ind + 1 }}</th>
          <td>{{ exchange.currencyPair }}</td>
          <td>
            <span class="flag">
              <img [src]=exchange.srcImageUrl alt="United States Flag">
            </span>
            <span class="full-form">{{ exchange.fullForm }}</span>
            <span class="flag">
              <img [src]=exchange.destImageUrl alt="India Flag">
            </span>
          </td>
          <td>{{ exchange.liveRate }}</td>
          <td>
            <img src="../../../assets/switch.png" alt="Switch Icon" width="32">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>