.card {
  border: 4px solid var(--primary);
  width: 75%;
  margin: 11px auto;
}

form .form-header-row {
  display: flex;
  justify-content: end;
  margin: 5px 0px 15px 0px;
}

form .buttons button {
  margin: 0px 5px;
}

thead,
tbody {
  text-align: center;
}

.flag {
  margin: 0px 5px;
  vertical-align: top;
}
