.footer-banner {
  display: flex;
  justify-content: end;
  width: 80%;
  margin: 20px auto;
}

.footer-banner p {
  margin: 15px auto;
  color: var(--primary);
  font-size: 18px;
}

/** Media Queries **/
@media screen and (max-width: 1246px) {
  .footer-banner {
    flex-direction: column;
    align-items: center;
  }

  .footer-banner p {
    margin: 5px 0 10px 0;
  }
}

@media screen and (max-width: 700px) {
  .footer-banner p {
    font-size: 16px;
    text-align: center;
  }
}
