.exchange-rate {
  display: flex;
  justify-content: center;
  width: 100%;
}

.exchange-rate button {
  font-size: 25px;
  margin: 0px auto 20px auto;
  width: 20%;
  background-color: var(--primary);
  color: var(--grey);
}
